@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h2, p {
  margin-block-end: 0;
  margin-block-start: 0;
}

h2{
  line-height: 1.1;
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

:target {
  scroll-margin-block: 5ex;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    padding: 1rem;
    margin: 0;
    font-family: 'Figtree', 'Arial', 'Helvetica';
    background-color: hsl(47, 88%, 63%);

    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 27%;
    max-width: 25rem;
    min-width: 20.3rem;
    padding: 1.45rem; 
    background-color: white;
    border-radius: 20px;
    border: 1px solid black; 
    box-shadow: 8px 8px 0 rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__image {
    max-width: 100%;
    display: block;
    border-radius: 20px;
}

.card__tag {
    width: fit-content;
    padding: .45em .9em;
    margin-bottom: -.5rem;
    font-size: 0.875rem;
    font-weight: 900;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
}

.card__date {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5;
}

.card__title {
    font-size: 1.4rem;
    font-weight: 900;
    transition: color 0.4s ease;
}

.card__title:hover {
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

.card__description {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: hsl(0, 0%, 42%);
}

.card__avatar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 900;
    font-size: .875rem;
}

.avatar__img {
    width: 2rem;
    height: 2rem;
}

footer {
    font-size: 11px;
    padding-bottom: 3rem;
}

footer a {
    text-align: center;
    color: hsl(228, 45%, 44%)
}